@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
}

.custom-input {
	width: 95%;
}

.btn {
	padding: 10px;
}

.notes {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 10px;
}

.note {
	display: flex;
	position: relative;
	flex-direction: column;
	padding: 10px 10px 30px 10px;
	background-color: #ebe12f;
	color: #000000;
	border-radius: 5px;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.note-title {
	font-size: 2em;
	margin: 10px 0;
}

.note-description {
	width: 100%;
	display: block;
	word-wrap: break-word;
}

.note-icons {
	position: absolute;
	bottom: 5px;
	right: 5px;
	display: flex;
	justify-content: space-evenly;
}

.note-icon {
	cursor: pointer;
}
